<nav class="navbar navbar-expand-md navbar-dark fixed-top" role="navigation">
		<a class="navbar-brand" ui-sref="app">
			<img src="images/logo.png" height="50" width="100" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" ui-sref="app">Home</a>
				</li>
				<li class="nav-item">
					<a  class="nav-link" ui-sref="app.projeto">O Projeto</a>
				</li>
				<li class="nav-item">
					<a  class="nav-link" href="#/">Como Funciona</a>
				</li>
				<li class="nav-item">
					<a  class="nav-link" ui-sref="app.contato">Contato</a>
				</li>
			</ul>
			<a type="button" class="btn btn-dark" href="#/">Entrar</a>
			<span>.</span>
			<a type="button" class="btn btn-dark" ui-sref="app.cadastro">Cadastre-se</a>

		</div>
	</nav>