	<div class="container">
		<p style="padding:30px 0px 0px 0px">usuários </p>
		<div class="row row-content" ng-controller="UsuariosController">
			<div class="col-xs-12" ng-if="!showUsers">
				<h3>{{message}}</h3>
			</div>
			<div class="col-xs-12" ng-if="showUsers">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" ng-class="{active: isSelected(1)}" role="presentation">
						<a ng-click="usuCtrl.select(1)" class="nav-link" aria-controls="todos usuarios" role="tab">Todos usuários</a>
					</li>
					<li class="nav-item" ng-class="{active: isSelected(2)}" role="presentation">
						<a ng-click="usuCtrl.select(2)" class="nav-link" aria-controls="usuarios" role="tab">Somente usuários sem candidatos</a>
					</li>
					<li class="nav-item" ng-class="{active: isSelected(3)}" role="presentation">
						<a ng-click="usuCtrl.select(3)" class="nav-link" aria-controls="candidatos a deputado estadual" role="tab">Candidatos a deputado estadual</a>
					</li>
					<li class="nav-item" ng-class="{active: isSelected(4)}" role="presentation">
						<a ng-click="usuCtrl.select(4)" class="nav-link" aria-controls="candidatos a deputado federal" role="tab">Candidatos a deputado federal</a>
					</li>	
				</ul>
				<div ng-show="usuCtrl.isSelected(4)">
					Estou aqui. 
				</div>
				<div class="tab-content">
					<!--ul class="media-list fade fade in active">-->
					<ul class="media-list">
						<li class="media" ng-repeat="usuario in usuarios">
							<!--<div  ng-show="usuCtrl.tab==usuario.candidato">-->
								<div class="media-left media-middle">
									<a ui-sref="app.usuario({id: usuario.id})">
										<img class="media-object img-thumbnail" width="100px"
										ng-src={{usuario.image}} alt="Foto do usuário">
									</a>
								</div>
								<div class="media-body">
									<h2 class="media-heading">{{usuario.nome}}
										<span class="badge">{{usuario.email}}</span></h2>
										<p>{{usuario.profissao}}</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
	</div>