<div class="container">
	<p style="padding:30px 0px 0px 0px"></p>
	<div class="row row-content" ng-controller="UsuariosController">
		<div class="col-xs-12" ng-if="!showUsers">
			<h3>{{message}}</h3>
		</div>
		<div class="col-xs-12" ng-if="showUsers">
			<h2>Usuários Cadastrados</h2>
			<table class="table table-bordered table-hover table-striped">
				<tr>
					<td>Nome</td>
					<td>Id</td>
					<td>Remover</td>
				</tr>
				<p>{{usuarios}}</p>
				<tr ng-repeat="usuario in usuarios">
					<td>{{usuario.nome}}</td>
					<td>{{usuario._id}}</td>
					<td><a ui-sref="app.removeUsuario({id: usuario._id})" class="btn btn-danger" role="button">x</a></td>
				</tr>
			</table>



			<ul class="media-list">
				<li class="media" ng-repeat="usuario in usuarios">
					<a ui-sref="app.removeUsuario({id: usuario._id})" class="btn btn-danger" role="button">x</a>
					<span>_</span>
					<h6 class="media-heading">{{usuario.nome}}<span>---</span>{{usuario._id}}</h6>

				</li>
			</ul>
		</div>
	</div>
</div>